:root {
    --inverted-rgb: 0, 0, 0;
    --normal-rgb: 255, 255, 255;
    --is-dark: 0;
    &.dark {
        --inverted-rgb: 255, 255, 255;
        --normal-rgb: 18, 18, 18;
        --is-dark: 1;
    }

    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500;600;700&family=Inter:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: CascadiaCode;
    src: url(/CascadiaCode-ExtraLight.otf);
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: saturate(0) contrast(0);
}

.page-leave-active,
.page-enter-active {
    transition: all 0.3s ease-in-out;
}